*.o
*.lo
*.la
*.a
*.exe
*.pc
.auto
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
doc/sample?
src/corrupt_mpeg2
src/extract_mpeg2
src/mpeg2dec

.vs/
*.opendb
*.sdf
